<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Story</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<audio id="music" loop>
  <source src="/static/music/soft.mp3">
</audio>

<div class="container">

  <div class="memory">
    <img src="/static/images/IMG-20260729-WA0054.jpg">
    <p>The moment everything started quietly.</p>
  </div>

  <div class="memory">
    <img src="/static/images/IMG-20260809-WA0038.jpg">
    <p>You became my favorite place to think about.</p>
  </div>

  <div class="memory">
    <img src="/static/images/IMG-20260809-WA0040.jpg">
    <p>And I never stopped choosing you.</p>
  </div>

  <div class="memory">
    <img src="/static/images/IMG-20260809-WA0045.jpg">
    <p>You became my peace and happy place.</p>
  </div>

  <div class="memory">
    <img src="/static/images/IMG-20260824-WA0031.jpg">
    <p>You became my favourite, with you i feel free.</p>
  </div>

  <div class="actions">
    <button onclick="generate()">💌 Message for You</button>
    <p id="msg"></p>

    <a href="/secret">Unlock Secret</a>
  </div>

</div>

<script src="/static/js/app.js"></script>
</body>
</html>
